{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}

    <h1>{{ event.title }}</h1>

    {% if event.isFullDay %}
        <span>Date: toute la journée du {{ event.start|date("d/m/Y") }}</span>
    {% else %}
        <span>Date: du {{ event.start|date("d/m/Y h:i") }} au {{ event.end|date("d/m/Y h:i") }}</span>
    {% endif %}

    <br>
    {% if event.isAdmin %}
        <span>Événement de la mairie</span>
    {% else %}
        <span>Événement de votre calendrier</span>
    {% endif %}

    <br>
    {% if event.createdBy is same as app.user %}
        <a href="{{path('dashboard_edit_event', {'id' : event.id})}}">Modifier l'événement</a>
    {% endif %}
    
    <br>
    {{ event.description|raw }}
{% endblock %}
