{% extends 'base.html.twig' %}

{% block title %}Connexion {% endblock %}

{% block body %}


    <h1>Connexion</h1>
    {% if app.user %}
        <div>
            <h3>Vous êtes déjà connecté ({{ app.user.userIdentifier }}). 
                <a href="{{ path('app_logout')}}">Se déconnecter</a>
            </h3>
        </div>
    {% else %}
    <form method="post">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        
        <div>
            <label for="inputEmail">Adresse mail</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
        </div>
        <div>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" required>
        </div>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <div>
            <label>
                <input type="checkbox" name="_remember_me"> Rester connecté
            </label>
        </div>

        <button type="submit">
            Connexion
        </button>
    </form>
    {% endif %}
{% endblock %}
