<script>
    addEventListener('DOMContentLoaded', (event) => {
        const hamburger = document.querySelector('.hamburger');
        hamburger.addEventListener('click', (event) => {
            const navbarContent = document.querySelector('.navbar-content');
            const navbar = document.querySelector('.navbar');
            navbarContent.classList.toggle('navbar-content--open');
            navbar.classList.toggle('navbar-opened');
        });
    });
</script>

<link rel="stylesheet" href="/assets/app/navbar.css">



{% if app.user %}
<nav class="navbar">
    <div class="navbar-logo">
        <img class="navbar-desktop-image" src="/assets/img/logovisionic.png" alt="Logo" width="50px" />
        {# TODO: Ask #}
        <img class="navbar-mobile-image" src="/assets/img/logovisionic.png" alt="Logo" width="50px" />
        {# TODO: Ask #}
    </div>
    <div class="navbar-content">
        <div class="navbar-list">
            <div class="navbar-item">
                <a href="{{path('app_home')}}">Accueil</a>
            </div>
            <div class="navbar-item">
                <a href="{{path('app_blog')}}">Blog</a>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
            <div class="navbar-item">
                <a href="{{path('app_blog_admin')}}">Admin blog</a>
            </div>
            {% endif %}
            
        </div>
        <div>
            <div class="navbar-item ">
                <a href="{{path('dashboard')}}" class="navbar-btn">Dashboard</a>
            </div>
        </div>
    </div>
    <div class="hamburger">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1024px-Hamburger_icon.svg.png"
            alt="menu" class="hamburger-icon" width="50px" />
    </div>
</nav>
{% else %}
<nav class="navbar">
    <div class="navbar-logo">
        <img class="navbar-desktop-image" src="/assets/img/logovisionic.png" alt="Logo" width="50px" />
        {# TODO: Ask #}
        <img class="navbar-mobile-image" src="/assets/img/logovisionic.png" alt="Logo" width="50px" />
        {# TODO: Ask #}
    </div>
    <div class="navbar-content">
        <div class="navbar-list">
            <div class="navbar-item">
                <a href="{{path('app_home')}}">Accueil</a>
            </div>
            <div class="navbar-item">
                <a href="{{path('app_blog')}}">Blog</a>
            </div>
            <div class="navbar-item">
                <a href="{{path('app_login')}}">Connexion</a>
            </div>
        </div>
        <div>
            <div class="navbar-item ">
                <a href="{{path('app_register')}}" class="navbar-btn">Inscription</a>
            </div>
        </div>
    </div>
    <div class="hamburger">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1024px-Hamburger_icon.svg.png"
            alt="menu" class="hamburger-icon" width="50px" />
    </div>
</nav>
{% endif %}